body {
	padding-top: 3cm;
	background: #FBFBFB;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
section.information {;
	max-width: 18cm;
	position:relative;
	margin: 0px auto;
}
mark.itdagene {
	background: #FBFBFB;
	color: #3487AB;
}
a.button {
	font-size: 25px;
    text-decoration:none;
    color: #3487AB;
}
form.quiz {
	display: inline-block;
	margin: 0px auto;
}