<html>
<head>
	<title>itDAGENE 2013 konkurranse</title>
	<link href="/static/css/app.css" media="screen" rel="stylesheet">
</head>


{% block content %}
<h1> <mark class="itdagene">itDAGENE 2013</mark> konkurranse</h1>
<form action="/quiz/{{ sitting.phonenumber }}/taken/" method="GET">
<div class="container">

{% if questions %}
    {%  for question in questions %}
        <p class="information">{{ question.content }}</p>
        {% for ans in question.answer_set.all %}
        <tr>
            <td>
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ ans.id }}" class="form-radio">
                        {{ ans.answer }}
                        <br>
                    </label>
            </td>

        </tr>
        {% endfor %}

    {% endfor %}
    <br>
<input type="submit" value="Send inn svar" class="btn btn-large btn-block btn-warning" >
{% endif %}
{% endblock %}
</div>
</html>
