<html>
<head>
	<title>itDAGENE 2013 konkurranse</title>
	<link href="/static/css/app.css" media="screen" rel="stylesheet">
</head>

<body>
	<h1>Velkommen til <mark class="itdagene">itDAGENE 2013</mark> konkurranse</h1>
	<section class="information">
		<hr>
		<p>Velkommen til dagens konkurranse hos itDAGENE 2013. Konkurransen består av 30 spørsmål. For å være med i trekning av premie må man ha svart 50% riktig.
		<p>Finn tilbake til ditt svarskjema ved å oppgi e-postadressen
			du registrerte deg med eller registrer en ny bruker.</p>
		<a href="http://127.0.0.1:8000/quiz/login" class="button">Logg inn</a>
		<p></p>
		<a href="http://127.0.0.1:8000/quiz/registrer" class="button">Registrer ny bruker</a>
		<hr>
	</section>
</body>
</html>
