<html>
<head>
	<title>Login</title>
	<link href="/static/css/app.css" media="screen" rel="stylesheet">
</head>

<body>
	<h1>Velkommen til <mark class="itdagene">itDAGENE 2013</mark> konkurranse</h1>
	<section class="information">
		<hr>
		<p>Fyll inn e-postadressen du registrerte deg med for å 
			tilbake ditt svarskjema</p>
        {% block content %}
		<form action="" class="quiz" method="GET">
            <table>
				{{ form.as_p }}
			</table>
			<input type="submit" value="Login">
		</form>
        {% endblock %}
		<hr>
	</section>
</body>
</html>
